html {
    margin: 0;
    height: 100%;
}

body {
    overflow: auto;
    margin: 0;
    padding: 0;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    font-family: Verdana, Geneva, sans-serif;
    word-break: keep-all;
    letter-spacing: .5px;
    background-color: orange;
    height: 100%;
}

* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
    color: #191970;
    margin-top: 80px;
}

h2 {
    text-align: center;
    color: #191970;
}

/* Titles where there are no images in div */

.titles_images h2 {
    padding-bottom: 50px;
}

/* Divs with no images                     */

.noimages_div {
    padding-bottom: 25px;
}

h3 {
    text-align: center;
    color: #191970;
}

.grid_wrapper {
    display: grid;
}

.grid_container {
    margin: 5%;
    text-align: center;
    background-color: white;
    min-width: 350px;
}

.main_title {
    background-color: orange;
}

ul {
    padding-left: 0;
}

li {
    list-style: none;
    text-align: center;
}

/* About me div             */

.about_me1 {
    float: left;
    width: 50%;
    padding: 5px;
    border-right: 1px dashed grey;
}

.about_me2 {
    float: right;
    width: 50%;
    padding: 5px;
}

/* ________________________*/

.photos {
    width: 300px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5%;
}

/* Responsive            */

@media only screen and (min-width: 806px) {
    .photos {
        float: right;
        margin: 0 50px 50px 50px;
        padding: 0;
    }
}

